<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
</head>
<body>
<h1>用户信息</h1>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>登录用户名</th>
        <th>登录密码</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user,stats:${users}">
        <td th:text="${stats.count}"></td>
        <td th:text="${user.loginName}"></td>
        <td th:text="${user.loginPwd}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>