<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <link rel="stylesheet" href="" th:href="@{/css/login.css}">
</head>
<body>
<div id="login">
    <h1>Login</h1>
    <form method="post" th:action="@{check}">
        <label>
            <input type="text" required="required" placeholder="用户名" name="loginName"/>
        </label>
        <label>
            <input type="password" required="required" placeholder="密码" name="loginPwd"/>
        </label>
        <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
        <button class="but" type="submit">登录</button>
        <a th:href="@{register}">注册</a>
    </form>
</div>
</body>
</html>