<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <link rel="stylesheet" href="" th:href="@{/css/login.css}">
</head>
<body>
<div id="login">
    <h1>Register</h1>
    <form method="post" th:action="@{checkPwd}">
        <label>
            <input type="text" autofocus required="required" placeholder="用户名" name="loginName"/>
        </label>
        <label>
            <input type="password" required="required" placeholder="密码" name="loginPwd"/>
        </label>
        <label>
            <input type="password" required="required" placeholder="确认密码" name="rePassword"/>
        </label>
        <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
        <button class="but" type="submit">注册</button>
        <span style="float: right;"><a style="color: rgb(204, 204, 204); margin-right: 10px;" th:href="@{login}">登录</a></span>
    </form>
</div>
</body>
</html>