# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\users\idea-workspace\bootstrap_curd\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
